<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-3 col-6 px-md-2">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <a href="/<%= data.path %>?user=1" class="text-dark">
                        <img src="http://placehold.it/150x150" alt="" class="img-avatar" /><br>
                        <p>Tôi</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-3 col-6 px-md-2">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <a href="/<%= data.path %>?user=2" class="text-dark">
                        <img src="http://placehold.it/150x150" alt="" class="img-avatar" /><br>
                        <p>Đặng Huy</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>