<!-- css -->
<link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/static/dist/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<!-- End csss-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 px-2">
            <div class="card">
                <div class="card-body">
                    <a href="/phong-kham/10/lichkham" class="text-dark">
                        <strong>Phòng khám Đông y</strong>
                        <p>Online & Offline</p>
                        <u>Hoàng Minh Tuấn</u>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--js add-->
<script src="/static/assets/extra-libs/DataTables/datatables.min.js"></script>