<!-- css -->
<link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/static/dist/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<!-- End csss-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-3 col-6 px-md-2">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <a href="info.html" class="text-dark">
                        <img src="http://placehold.it/150x150" alt="" class="img-avatar" /><br>
                        <p>Đặng Huy</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-3 col-6 px-md-2">
            <div class="card card-hover" style="border: 1px dashed #333;">
                <div class="box bg-light text-center">
                    <a href="themthanhvien.html" class="text-dark">
                        <i class="fa fa-plus" style="font-size: 98px;margin-bottom: 10px;"></i>
                        <p>Thêm mới</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--js add-->
<script src="/static/assets/extra-libs/DataTables/datatables.min.js"></script>