<div class="container-fluid">
    <div class="col-12 mt-0">
      <div class="card card-hover">
        <div class="box bg-light">
          <img src="http://www.dananghospital.org.vn/images/bv1.jpg" width="100%">
        </div>
      </div>
    </div>

    <h3 class="page-title mt-5">Tin tức mới nhất</h3>
    <hr>
    <div class="col-12">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-ms-6 mt-0">
          <div class="card card-hover">
            <div class="box bg-light" style="text-align: justify;">
              <img src="http://www.dananghospital.org.vn/Uploads/Images/DT/t%C3%A1moatut1.png" width="100%"
                class="d-block mb-2">
              <a href="">
                <h7 class="item-title"><strong>VÌ SAO PHẢI TẦM SOÁT UNG THƯ</strong></h7>
                <p class="item-decription">Ung thư được xem là nguyên nhân gây tử vong hàng đầu và là rào cản quan
                  trọng đối với việc tăng tuổi thọ ở mọi quốc gia trên thế giới</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-ms-6 mt-0">
          <div class="card card-hover">
            <div class="box bg-light" style="text-align: justify;">
              <img src="http://www.dananghospital.org.vn/Uploads/Images/DT/t%C3%A1moatut1.png" width="100%"
                class="d-block mb-2">
              <a href="">
                <h7 class="item-title"><strong>VÌ SAO PHẢI TẦM SOÁT UNG THƯ</strong></h7>
                <p class="item-decription">Ung thư được xem là nguyên nhân gây tử vong hàng đầu và là rào cản quan
                  trọng đối với việc tăng tuổi thọ ở mọi quốc gia trên thế giới</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-ms-6 mt-0">
          <div class="card card-hover">
            <div class="box bg-light" style="text-align: justify;">
              <img src="http://www.dananghospital.org.vn/Uploads/Images/DT/t%C3%A1moatut1.png" width="100%"
                class="d-block mb-2">
              <a href="">
                <h7 class="item-title"><strong>VÌ SAO PHẢI TẦM SOÁT UNG THƯ</strong></h7>
                <p class="item-decription">Ung thư được xem là nguyên nhân gây tử vong hàng đầu và là rào cản quan
                  trọng đối với việc tăng tuổi thọ ở mọi quốc gia trên thế giới</p>
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>